@{
    ViewData["Title"] = "Alcachofra ao molho de cebola roxa";
}

<h2>Alcachofra ao molho de cebola roxa</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Alcachofra_ao_molho_de_cebola_roxa_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong></p>
            <p>
                4 alcachofras tamanho m&eacute;dio ou grande (tamanho 8) <br />
                4 cebolas roxas m&eacute;dias ou grandes, proporcionais ao tamanho da alcachofra<br />
                1 lim&atilde;o siciliano grande ou 2 m&eacute;dios<br />
                tempero de ervas finas de sua prefer&ecirc;ncia (sugest&atilde;o: tempero Cajun, da Bombay)<br />
                30 ml de vinho branco seco<br />
                400-600 ml de &aacute;gua por alcachofra (o suficiente para passar de 2 dedos do fundo da panela)<br />
                sal (marinho ou Himalaia) a gosto<br />
                Azeite extra virgem a gosto e azeite trufado a gosto
            </p>
            <p>
                <strong>Modo de Fazer:</strong>
                <br />
                Corte o cabo da alcachofra, &ldquo;abra&rdquo; as folhas apertando-a sobre uma superf&iacute;cie limpa<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e deixe de molho em &aacute;gua com solu&ccedil;&atilde;o para desinfec&ccedil;&atilde;o de verduras por 10 minutos.<br />
                Corte as cebolas em peda&ccedil;os grandes e raspe a casca dos lim&otilde;es.<br />
                Coloque as cebolas no fundo da panela de press&atilde;o, adicione as raspas de lim&atilde;o,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o vinho branco e coloque as alcachofras por cima, viradas pra cima e uma do lado da outra.<br />
                Tempere com o seu tempero preferido, sal e adicione a &aacute;gua at&eacute; 2 dedos do fundo da panela.<br />
                Leve &agrave; press&atilde;o por 10 minutos se forem alcachofras m&eacute;dias e 15 minutos se forem grandes.<br />
                Retire as alcachofras e bata com um mixer o que ficou na panela at&eacute; obter um creme grosso.<br />
                Porcione em cumbucas individuais, regando com azeite extra virgem e, se gostar,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;umas gotas de azeite trufado.
            </p>
        </div>

    </div>
</div>