@{
    ViewData["Title"] = "Bacalhau com requeijão de tofu e gengibre";
}

<h2>Bacalhau com requeijão de tofu e gengibre</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                250g de bacalhau dessalgado, cozido e desfiado<br />
                1 fatia de tofu tipo soft (80-100g) <br />
                1-2 c. sopa de BIOMASSA<br />
                Sal <br />
                Or&eacute;gano<br />
                1 peda&ccedil;o de gengibre 5 cm<br />
                2 copa de &oacute;leo de coco
            </p>
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                Prepare o requeij&atilde;o de tofu batendo no liquidificador o tofu, a biomassa, o azeite e o or&eacute;gano.<br />
                Pique o gengibre em tirinhas e refogue no &oacute;leo de coco.<br />
                Adicione o bacalhau previamente dessalgado, cozido e desfiado, o requeij&atilde;o de tofu e refogue at&eacute; uniformizar a mistura.
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Bacalhau_com_requeijão_de_tofu_e_gengibre.jpg" />
        </div>
    </div>
</div>
