@{
    ViewData["Title"] = "Bolo salgado de quinoa e atum sem glúten";
}

<h2>Bolo salgado de quinoa e atum sem glúten</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Bolo_salgado_de_quinoa_e_atum_sem_gluten_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong>
                <br />
                1 xic. ch&aacute; de quinoa, <br />
                1 cebola picada, <br />
                2 dentes de alho amassados, <br />
                1 xic de alho por&oacute; picado, <br />
                1 xic de br&oacute;colis <br />
                2 latas de atum, <br />
                5-7 ovos batidos, <br />
                1/2 xic tomate cereja cortados, <br />
                1/2 xic leite de coco, <br />
                1 xic de ricota em cubos (usei de bufala), <br />
                Sal, or&eacute;gano, cominho, pimenta.
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong>
                <br />
                Em 1 panela refoguei parte da cebola e alho, adicionei quinoa e 1 e 1/2 xic de &aacute;gua.<br />
                Sal a gosto, cozinha at&eacute; secar a &aacute;gua.<br />
                Em outra panela refogue o restante da cebola, alho poro, tomate, atum e temperos.<br />
                Bater os ovos ligeiramente e misturar os 3 preparados.<br />
                Adicionar a ricota.<br />
                Levar ao forno a 200 graus por 30-40min.<br />
                Servir quente ou fria!!!
            </p>
        </div>

    </div>
</div>
