
@{
    ViewData["Title"] = "Bolo de coco com palatinose";
}

<h2>Bolo de coco com palatinose</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Bolo_de_coco_com_palatinose_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>Rende 9 por&ccedil;&otilde;es</p>
            <br />
            <p>
                <strong>Ingredientes para a massa:</strong><br />
                2 ovos caipiras grandes<br />
                1 x&iacute;c. rasa f&eacute;cula de batata<br />
                &frac34; x&iacute;c. coco ralado fino sem a&ccedil;&uacute;car<br />
                4 scoops de palatinose (60g)<br />50ml leite de coco light<br />
                1 pitada sal rosa do Himalaia<br />1 c. sopa fermento para bolos
            </p>
            <br />
            <p>
                <strong>Ingredientes para a cobertura:</strong><br />
                4 scoops de palatinose<br />
                50ml leite sem lactose<br />
                100ml leite de coco light<br />
                50g coco em flocos sem a&ccedil;&uacute;car
            </p>
            <br />
            <p>
                <strong>Preparo da massa:</strong>
                <br />
                Separar todos os ingredientes para a massa e para a cobertura<br />
                Passar o coco ralado em um processador para formar uma farofa mais fina. <br />
                Obs.: um pouco de gordura se soltar&aacute; do coco, o que far&aacute; que fique mais &uacute;mida.<br />
                Pr&eacute;-aquecer o forno a 150&deg;C.<br />Untar uma forma de aproximadamente 22 x 17 cm.<br />
                Forrar com papel manteiga apenas no sentido do comprimento, deixar as pontas pra cima da forma para facilitar a retirada do bolo ap&oacute;s assado.<br />
                Untar novamente.<br />
                Bater por 10min. em velocidade m&aacute;xima os ovos, a palatinose e a pitada de sal.<br />
                Formar&aacute; um creme bem espesso e clarinho.<br />
                Baixar para velocidade m&iacute;nima, incorporar aos poucos intercalando entre a f&eacute;cula de batata e o leite de coco.<br />
                Desligar a batedeira.<br />
                Acrescentar o coco processado, homogeneizar bem com uma colher tipo &ldquo;lambe-lambe&rdquo;.<br />
                Por &uacute;ltimo, colocar o fermento.<br />
                Misturar bem suavemente.<br />
                Derramar o creme de maneira uniforme na f&ocirc;rma.<br />
                Levar para assar por 15 a 20 min.<br />Verificar com palito o cozimento.<br />
                Obs.: o bolo ficar&aacute; bem clarinho por cima, por isso manter o forno &agrave; temperatura de 150&deg;C.
            </p>
            <p>Enquanto o bolo assa, fa&ccedil;a a cobertura.</p>
            <br />
            <p>
                <strong>Preparo para a Cobertura:</strong>
                <br />
                Colocar a palatinose em uma frigideira m&eacute;dia antiaderente de forma que utilize todo o seu fundo.<br />
                Em fogo baixo, comece derretendo-o em mais de 50%, sem mexer.<br />
                S&oacute; ent&atilde;o, misture bem at&eacute; que toda a palatinose derreta e forme um caramelo transl&uacute;cido. Obs.: n&atilde;o dourar.<br />
                Incorporar aos poucos o leite sem lactose ao caramelo, sempre mexendo at&eacute; dissolver bem.<br />
                Acrescentar o leite de coco, mexer vigorosamente, e quando estiver homog&ecirc;neo, acrescentar o coco em flocos.<br />
                Ap&oacute;s levantar fervura, ferver por cerca de 1 minuto.<br />
                Verifique se os flocos de coco est&atilde;o mais transl&uacute;cidos e desligue o fogo.
            </p>
            <br />
            <p>
                <strong>Finaliza&ccedil;&atilde;o:</strong>
                <br />
                Retirar o bolo da forma delicadamente, puxando pelas pontas do papel manteiga.<br />
                Colocar sobre uma t&aacute;bua e fazer muitos furinhos com aux&iacute;lio de um palito.<br />
                Obs.: furar at&eacute; o fundo do bolo para que a calda penetre bem.<br />
                Se a cobertura estiver um pouco fria, reaque&ccedil;a antes de cobrir o bolo.<br />
                Depois de aquecida, com aux&iacute;lio de uma colher, separar o coco da calda na frigideira.<br />
                Primeiramente, colocar apenas a calda sobre o bolo quente de forma que todo o bolo a absorva bem.<br />
                Em seguida, distribuir uniformemente o coco sobre o bolo e salpicar um pouco de coco em flocos secos.
            </p>
        </div>

    </div>
</div>