@{
    ViewData["Title"] = "Bolo de cacau e aveia";
}

<h2>Bolo de cacau e aveia</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Bolo_de_cacau_e_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                4 ovos<br />
                &frac12; a 1 xic de a&ccedil;&uacute;car de coco (ou mascavo ou demerara etc.)<br />
                &frac12; xic de &oacute;leo de coco<br />
                1 xic de achocolatado caseiro*<br />
                &frac12; xic de leite de castanhas<br />
                2 xic de aveia em flocos finos<br />
                1 c. sopa de fermento qu&iacute;mico<br />Pitada de bicarbonato de s&oacute;dio
            </p>
            <br />
            <p>
                <strong>Modo de fazer:</strong>
                <br />
                Bater ovos e a&ccedil;&uacute;car com a batedeira at&eacute; ficar bem fofinho.<br />

                Acrescente os demais ingredientes um a um, bata bem e deixe por &uacute;ltimo o fermento.<br />
                Levar ao forno pr&eacute;-aquecido a 200 graus por 20 minutos se usar forminha individual.
            </p>
            <br />
            <p>
                <strong>Achocolatado caseiro:</strong>
                <br />
                1 x&iacute;cara de cacau em p&oacute; + &frac12; x&iacute;cara de a&ccedil;&uacute;car de coco
            </p>
        </div>

    </div>
</div>
