@{
    ViewData["Title"] = "Bolo de Reis";
}

<h2>Bolo de Reis</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Bolo_de_Reis_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong> <br />
                5 bananas maduras<br />3 ovos inteiros<br />
                1 c. sopa de fermento em p&oacute;<br />
                2 c. sopa de farelo de aveia<br />
                &frac12; x&iacute;cara de damascos picados<br />
                &frac12; x&iacute;cara de uva passa<br />
                1 x&iacute;cara de castanhas picadas
            </p>
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Bater no liquidificador as bananas, ovos, fermento e farelo.<br />
                Adicionar delicadamente as frutas e castanhas e<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;levar em formo m&eacute;dio (160) em forma untada por 30 minutos.
            </p>
        </div>
    </div>
</div>