@{
    ViewData["Title"] = "Bolo nega maluca";
}

<h1>Bolo nega maluca</h1>

<partial name="../Shared/LogoView.cshtml" />
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Bolo_nega_maluca_400.png"/>
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                2 c. sopa de biomassa<br />
                2 c. sopa de cacau em p&oacute;<br />
                3 c. sopa de a&ccedil;&uacute;car de coco<br />
                1 c. sopa de &oacute;leo de coco<br />
                1 c. ch&aacute; de chia<br />
                1 c. ch&aacute; de polvilho doce<br />
                1 c. sopa de farinha de linha&ccedil;a marrom<br />
                2 c. sopa de farinha de arroz<br />
                1 c. ch&aacute; de fermento<br />
                1 c. ch&aacute; de canela<br />
                60 ml de leite de coco<br />
                60 ml de &aacute;gua<br />
                Pitadinha de sal
                </p>
                <br />
            <p>
                <strong>Modo de fazer:&nbsp;</strong><br />
                Misturar todos os ingredientes e levar ao forno pr&eacute;-aquecido<br />
                <br />
                <strong>Cobertura:</strong><br />
                Mexer no fogo 10 c. sopa de leite de coco + 2 c. sopa de cacau + 2 c. sopa de a&ccedil;&uacute;car de coco + 1 c. sopa de &oacute;leo de coco at&eacute; engrossar e fazer bolhas grandes, depois adicione 2 c. sopa de biomassa.
        </p>
        </div>

    </div>
</div>
