@{
    ViewData["Title"] = "Brownie de abobora";
}

<h2>Brownie de abobora</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Brownie_de_abobora_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong> <br />
                1 e &frac12; x&iacute;cara de pur&ecirc; de abobora firme <br />
                &frac12; xic. de farinha de am&ecirc;ndoas<br />
                &frac12; xic. de &oacute;leo de coco<br />&frac12; x&iacute;c. de cacau em p&oacute;<br />
                1 c. sopa de vinagre <br />1 ovo<br />&frac12; x&iacute;c. de ch&aacute; de xilitol ou maltitol <br />
                1 c. sopa de extrato de baunilha<br />
                &frac12; x&iacute;c. de nozes quebradas<br />
                1 c. ch&aacute; de bicarbonato de s&oacute;dio
            </p>
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Fazer um pur&ecirc; firme de ab&oacute;bora e preenches 1 e &frac12; x&iacute;cara de ch&aacute;.<br />
                No processador junte essa medida com a farinha de am&ecirc;ndoas,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o &oacute;leo de coco, o ovo, o ado&ccedil;ante, o extrato de baunilha e a pitada de sal.<br />
                Processe at&eacute; obter uma mistura homog&ecirc;nea.<br />
                Acrescente o cacau e o bicarbonato, processe novamente e ent&atilde;o adicione as nozes picadas.<br />
                Processe at&eacute; que tudo se misture e, em seguida,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;despeje a massa em uma forma forrada com papel manteiga<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ou em forminhas individuais de silicone.<br />
                Aqui pode variar a altura do brownie, ele n&atilde;o vai crescer muito.<br />
                Asse em forno preaquecido a 160&ordm; por 40 a 50 minutos.
            </p>
        </div>
    </div>
</div>