@{
    ViewData["Title"] = "Cloud bread";
}

<h2>Cloud bread</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/cloud-bread_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>1&ordf; receita:</strong><br /><br />
                <strong>Ingredientes:</strong><br />
                3 ovos <br /> 60g queijo cottage <br />
                &frac14; de colher de fermento qu&iacute;mico em p&oacute;
                <br />
                <strong>Modo de Fazer:<br /></strong>
                Separe claras e gemas.<br />
                Bater as gemas na batedera com o queijo morno at&eacute; obter uma massa lisa.<br />
                Bata as claras em neve com o fermento.<br />
                Com uma espatula misture os dois ingredientes incorporando as claras com cuidado<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&agrave; massa.<br />
                Forre assadeira com papel manteiga e disponha as por&ccedil;&otilde;es de massa<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fazendo curculos pequenos.<br />
                Asse em forno preaquecido a 150 graus, por 15 a 20 min.<br />
                Pode guardar para o dia seguinte.
            </p>
            <br />
            <hr />
            <p>
                <strong>2&ordf; receita:</strong><br /><br />
                <strong>Ingredientes:</strong><br />
                2 ovos <br /> 50g cream cheese <br />
                1/8 de c.ch&aacute; de cremor t&aacute;rtaro
                <br />
                <strong>Modo de Fazer:<br /></strong>
                Preaque&ccedil;a o forno a 180 graus.<br />
                Bater claras em neve com o cremor t&aacute;rtaro.<br />
                Misture gemas com cream cheese at&eacute; formar creme amarelo homogeneo.<br />
                Cuidadosamente, envola a mistura de gema com as claras em neve batidas sem mexer muito.<br />
                Unte assadeira, coloque colheradas da massa formando circulos, do tamanho que desejar.<br />
                Asse at&eacute; dourar, por 30 minutos.
            </p>
            <br />
            <hr />
            <p>
                <strong>3&ordf; receita:</strong><br /><br />
                <strong>Ingredientes:</strong><br />
                2 claras <br />2 gemas<br />
                2 c.sopa de crem cheese<br />
                &frac14; de colher de ch&aacute; de fermento qu&iacute;mico em p&oacute;
                <br />
                <strong>Modo de Fazer:<br /></strong>
                Preaque&ccedil;a o forno a 150 graus.<br />
                Forre assadeira com papel manteiga e reserve.<br />
                Aque&ccedil;a o crean cheese por 30 seg no microondas (ou at&eacute; amolecer).<br />
                Deixe esfriar por 5 min e misture com as gemas at&eacute; ficar homog&ecirc;neo.<br />
                Bata as claras em neve com o fermento.<br />
                Cuidadosamente, envola a mistura de gema com as claras em neve batidas sem mexer muito.<br />
                Despeje colheradas da massa formando circulos, do tamanho que desejar, achatando com as costas de cada colher pra formar cada p&atilde;ozinho.<br />
                Asse at&eacute; dourar, por 20 minutos.<br />
                Espere esfriar.
            </p>
            <hr />
            <p>
                <strong>4&ordf; receita:</strong><br /><br />
                <strong>Ingredientes:</strong><br />
                3 ovos <br /> 4 c.sopa de ricota <br />
                &frac14; de colher de caf&eacute; de bicarbonato de s&oacute;dio
               <br />
                <strong>Modo de Fazer:<br /></strong>
                Forre assadeira com papel manteiga e reserve.<br />
                Preaque&ccedil;a o forno a 180 graus. Bata as claras em neve.<br />
                Misture as gemas com a ricota e o bicarbonato at&eacute; dissolver.<br />
                Misture as claras em neve com cuidado apenas pra incorporar, isso far&aacute; com que o p&atilde;o fique macio.<br />
                Despeje colheradas da massa formando circulos, do tamanho que desejar, achatando com as costas de cada colher pra formar cada p&atilde;ozinho.<br />
                Asse at&eacute; dourar, por 20-25 minutos.<br />
                Espere esfriar.
            </p>
        </div>
    </div>
</div>