@{
    ViewData["Title"] = "Coscous couve flor";
}

<h2>Coscous couve flor</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
         <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Coscous_couve_flor_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes: </strong><br />
                1 xic. de couve-flor picada com processador<br />
                1 dente de alho<br />
                1/2 cebola pequena picada<br />
                fio de azeite<br />
                2 col. sopa de cenoura picada em cubos<br />
                1 col. sopa milho verde (congelado)<br />
                1 col. sopa ervilha (congelado)<br />
                pitada de cúrcuma<br />
                sal e pimenta do reino a gosto<br />
                salsinha picada para finalizar<br />
                água (o necessário)
            </p>
            <br />
            <p>
                <strong>Modo de Fazer: </strong><br />
                Refogue a cebola e alho no azeite até ficarem transparentes.<br />
                Acrescente a couve-flor e refogue bem. <br />
                Acrescente a cenoura e jogue UM  POUQUINHO de água.<br />
                Deixe a água evaporar. <br />
                Tempere com o sal, pimenta e  cúrcuma, acrescente mais água caso seja necessário e espere o líquido secar.<br />
                Coloque  ervilha, milho e finalize com a salsinha.
            </p>
</div>
       
    </div>
</div>
