@{
    ViewData["Title"] = "Crocante de sementes sem glútem";
}

<h2>Crocante de sementes sem glutem</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/crocante_de_sementes_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>Crocantes de sementes &ndash; Salgadinho sem gl&uacute;tem</p>
            <p><strong>Ingredientes</strong>:</p>
            <p>2 cs de chia<br />
            2 cs de gergelim branco com casca<br />
            2 cs de farinha de linha&ccedil;a dourada<br />2 cs de semente de girassol ou abobora<br />
            2 cs de Nutritional Yeast sabor provolone ou sal<br />temperos secos a seu gosto</p>
            <br />
            <p><strong>Processar as sementes</strong><br />
            Adicionar:
            <br />
            2 cs de &aacute;gua<br />2 cs de azeite extra-virgem</p>
            <p>Misturar tudo at&eacute; obter uma massa male&aacute;vel.</p>
            <p>Numa forma untada, abrir a massa deixando a espessura de &frac12; cm.<br />Levar ao forno 160-180 graus por 10 minutos.</p>
        </div>

    </div>
</div>
