@{
    ViewData["Title"] = "Crumble low carb com legumes";
}

<h2>Crumble low carb com legumes</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Crumble_low_carb_com_legumes_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Legumes com crumble low carb</strong></p><br />
            <p><strong>Recheio</strong></p>
            <p>
                1 xicara de espinafre cozido e espremido (mesma quantidade de berinjela ou abobrinha)<br />
                Azeite, Cebola e alho para refogar o legume.<br />
                Um pouco de suco de lim&atilde;o e temperos a gosto (noz moscada ou cominho)<br />
                Castanhas picadas a gosto + 2 c.sopa de cream cheese light
            </p>
            <p><strong>Crumble low carb</strong></p>
            <p>
                25g de manteiga ghee ou &oacute;leo de coco desodorizado<br />
                25g de farinha de gr&atilde;o de bico<br />
                25g de farinha de semente de abobora (pode ser de girassol)<br />
                25g de farinha de linha&ccedil;a dourada (pode usar outra fibra como o Psylium, farelo de aveia)<br />
                Sal e temperos a gosto (usei o lemon pepper - Bombay)
            </p>
            <br />
            <p><strong>Mode de fazer</strong>
                <br />
                Misturar todos os ingredientes at&eacute; fazer uma farofa que esfarela.<br />
                Refogar o legume e colocar numa travessa para o forno.<br />
                Salpicar as castanhas e o cream cheese (espalhado como bolinhas).<br />
                Cobrir com o Crumble low carb e levar ao forno quente 200 graus) por 10-15 minutos at&eacute; dourar o crumble.
            </p>
        </div>

    </div>
</div>
