@{
    ViewData["Title"] = "Escondidinho de frango fit";
}

<h2>Escondidinho de frango fit</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Escondidinho_de_frango_fit_400.jpg" />;
            <p></p>
        </div>
        <div class="col-lg-6">
            <p>
                <strong>Ingredientes para o pur&ecirc; de couve-flor:</strong>
                <br />
                2 x&iacute;caras de couve flor bem cozida<br />
                &frac14; de cebola<br />
                1 dente de alho picado<br />
                2 c.sopa de azeite&nbsp;<br />
                sal e pimenta do reino a gosto
                <br />
                <br />
                <strong>Recheio de frango: </strong><br />
                1 peito de frango cozido e desfiado (pode substituir por shimeji)<br />
                Salsinha a gosto<br />
                Suco de lim&atilde;<br />
                Sal e pimenta do reino a gosto<br />
            </p>
        </div>

    </div>
</div>
