@{
    ViewData["Title"] = "Escondidinho de carne";
}

<h2>Escondidinho de carne</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                1 kg de batata inglesa<br />
                1 x&iacute;cara de leite<br />
                2 colheres de sopa de manteiga<br />
                500g de carne mo&iacute;da ou frango<br />
                1 cebola picada<br />
                3 dentes de alho picado<br />
                4 tomates picados<br />
                1 x&iacute;cara de molho de tomate<br />
                Salsinha e cebolinha a gosto<br />
                2 x&iacute;caras de quinoa em gr&atilde;os <br />
                300g de queijo mussarela de b&uacute;fala
            </p>
            <p>&nbsp;</p>
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                Cozinhe as batatas at&eacute; o ponto de pur&ecirc;.<br />
                Amasse e misture, leite, manteiga e sal. Reserve.<br />
                Cozinhe a quinoa org&acirc;nica em gr&atilde;os com &aacute;gua e sal at&eacute; amolecer.<br />
                Numa panela refogue a carne mo&iacute;da, acrescente cebola e alho e deixe refogar at&eacute; estar transparente.<br />
                Junte os tomates e o molho de tomate e deixe cozinhar por 4 minutos.<br />
                Tempere com sal, pimenta e cheiro verde.
            </p>
            <p><br /> <strong>Montagem:</strong></p>
            <p>
                Pur&ecirc;, quinoa, carne, quinoa e pur&ecirc; e queijo.<br />
                Asse no forno por 10 minutos a 180 graus.
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Escondidinho_de_carne.jpg" />
        </div>
    </div>
</div>
