@{
    ViewData["Title"] = "Fondue fit de queijo";
}

<h2>Fondue fit de queijo</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Fondue fit de queijo</strong></p>
            <p><strong>Ingredientes para 2 pessoas:</strong></p>
            <p>
                2 c.sopa de biomassa de banana verde (30g)<br />
                &frac12; x&iacute;cara de ch&aacute; (75ml) de leite vegetal<br />
                &frac14; de x&iacute;cara de vinho branco<br />
                150g (1 unidade) de cream cheese light<br />
                400g de queijo cottage ou de cottage lacfree<br />
                1 dente de alho<br />
                sal, pimenta e temperos a gosto<br />
                vegetais no vapor: br&oacute;colis, couve-flor, tomate cereja (1 bandeja 250g)<br />
                150g de p&atilde;o italiano ou p&atilde;o integral ou p&atilde;o sem gl&uacute;ten
            </p>
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                1 - No liquidificador bata a biomassa, o vinho, o cream cheese, a cottage e 1/3 do dente de alho. Adicione aos poucos o leite vegetal, pra n&atilde;o deixar muito fluido.<br />
                2 &ndash; Bata at&eacute; ficar homog&ecirc;neo. <br />
                3 &ndash; Esfregue a outra parte do dente de alho no rechaut de fondue, coloque a mistura de queijos e aque&ccedil;a. <br />
                4 &ndash; Tempere com pimenta do reino a gosto.
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/fondue_queijo.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="/images/fondue.JPG" />
        </div>
    </div>
</div>
