@{
    ViewData["Title"] = "Fondue fit de chocolate";
}

<h2>Fondue fit de chocolate</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/fondue_chocolate_400.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/fondue_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Fondue fit de chocolate</strong></p>
            <br />
            <p>
                <strong>Ingredientes para 2 por&ccedil;&otilde;es:</strong>
                <br />
                2 x&iacute;caras de ch&aacute; de chocolate amargo sem lactose (&gt;60% de cacau), 160g<br />
                4 c. sopa de biomassa de banana verde (60g)<br />
                2/3 xic. de ch&aacute; de leite de am&ecirc;ndoa org&acirc;nico (100ml)<br /> 1 c.sobremesa de licor de cacau<br />
                1 banana grande picada<br />
                1 cacho pequeno de uva (50g) <br /> 1 bandeja de morangos
            </p>
            <br />
            <p>
                <strong>Modo de fazer: <br /> </strong>
                <br />
                1 - Bater no liquidificador ou com um mixer o leite de am&ecirc;ndoas e a biomassa. <br />
                2 &ndash; Em uma panela misture o chocolate e a mistura de biomassa + leite de am&ecirc;ndoas.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cozinhe at&eacute; o chocolate derreter. <br />
                3 &ndash; Adicione o licor de cacau e sirva quente.
            </p>
        </div>

    </div>
</div>
