@{
    ViewData["Title"] = "Galette de sarraceno";
}

<h2>Galette de sarraceno</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Galette_de_sarraceno_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Recheio</strong>:
                <br />
                1 x&iacute;cara de espinafre cozido e espremido.<br />
                Azeite e alho para refogar as folhas.<br />
                Adicionar 4 c. sopa de gr&atilde;os de milho doce, picar<br />
                2 tomates, adicionar ao refogado.<br />
                Temperar com sal e seu tempero preferido.<br />
                No fim adicionar ricota de b&uacute;fala amassada e por cima ricota defumada ralada.
                <br />
                <br />
                <b>Gallete:</b>
                <br />
                270-300g de farinha de trigo sarraceno<br />
                10g sal grosso<br />
                500-700 ml de &aacute;gua<br />1 ovo
                <br />
                <br />
                <strong>Modo de Fazer:</strong>
                <br />
                Misturar a farinha com o sal.<br />
                Com a ajuda de um fouet v&aacute; adicionando &aacute;gua e misturando vigorosamente.<br />
                Quando obtiver uma massa lisa e homog&ecirc;nea acrescente o ovo e misture novamente.<br />
                Filme e coloque na geladeira por 2h.<br />
                Unte uma frigideira (pr&oacute;pria para crepe, de borda muito baixa ou ausente) com &oacute;leo,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;acrescente 1 concha de massa e espalhe bem.<br />
                Vire depois de 1 minuto.<br />
                Deixe ficar firme e coloque no centro o recheio.<br />
                Junte sal, pimenta, feche os 4 lados da galette de maneira que ainda consiga ver o centro.<br />
                Sirva imediatamente.
            </p>
        </div>

    </div>
</div>