@{
    ViewData["Title"] = "Golden milk";
}

<h2>Golden milk</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Golden_milk_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                220 ml de leite vegetal (de castanhas ou de coco ou de aveia)<br />
                1 c. sopa rasa de curcumina<br />
                1 c. ch&aacute; rasa de gengibre em p&oacute;<br />
                1 c. caf&eacute; rasa de pimenta do reino mo&iacute;da preta<br />
                1 c. ch&aacute; rasa de &oacute;leo de coco<br />
                Raspas de noz moscada (ou 1 c. caf&eacute; rasa de noz moscada)<br />
                Sementes de 1 cardamomo (ou 1 c. caf&eacute; rasa de cardamomo em p&oacute;)<br />
                Pitadas de canela (ou 1 c. ch&aacute; rasa)
            </p>
            <br />
            <p>Para ado&ccedil;ar (se quiser) 1 c. sobremesa de agave ou mel</p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>Aquecer o leite em fogo baixo e adicionar os ingredientes aos poucos misturando pra incorporar</p>
            <p><strong>Tomar morno</strong></p>
        </div>

    </div>
</div>
