@{
    ViewData["Title"] = "Hamburguer de abobora";
}

<h2>Hamburguer de abobora</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Hamburguer_de_abobora_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong> <br />
                4 x&iacute;caras de ab&oacute;bora picada (400 g)<br />
                1 colher (caf&eacute;) de cominho<br />
                1 colher (caf&eacute;) de canela em p&oacute;<br />
                1 pitada de a&ccedil;&uacute;car<br />
                1/2 x&iacute;cara de mix de aveia em flocos finos com linha&ccedil;a triturada<br />
                1 cebola pequena picada<br />1 dente de alho grande picado<br />
                1/2 x&iacute;cara de salsinha picada<br />
                Sal e pimenta-do-reino<br />
                1 1/2 colher (sopa) de azeite para fritar
            </p>
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Tempere a ab&oacute;bora com o cominho, a canela e a pitada de a&ccedil;&uacute;car.<br />
                Envolva-a no papel-alum&iacute;nio e leve para assar por 30 minutos ou at&eacute; que esteja macia e firme.<br />
                Amasse a ab&oacute;bora ainda quente com um garfo, grosseiramente.<br />
                Junte o mix de aveia com linha&ccedil;a, a cebola, o alho, a salsinha, sal e pimenta.<br />
                Leve &agrave; geladeira para descansar por 1 hora.<br />
                Modele os hamb&uacute;rgueres.<br />
                Aque&ccedil;a uma frigideira antiaderente untada com o azeite e grelhe os hamb&uacute;rgueres at&eacute; dourarem.<br />
                Sirva quente acompanhado de salada verde ou legumes salteados.<br />
                <br />
                Rendimento: 13 hamb&uacute;rgueres de 40 g cada
            </p>
        </div>
    </div>
</div>