@{
    ViewData["Title"] = "Hamburguer de feijão";
}

<h2>Hamburguer de feijão</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Hamburguer_de_feijao_preto_1_400.jpg" />
            <p></p>
            <img class="img-responsive" src="~/images/Hamburguer_de_feijao_preto_2_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong>
                <br />
                3 x&iacute;c. de feij&atilde;o cozido e escorrido (utilizei feij&atilde;o preto)<br />
                1 x&iacute;c. de cebola picada<br />
                1/2 x&iacute;c. de farinha de arroz<br />
                &Oacute;leo vegetal<br />
                Pimenta do reino a gosto<br />
                Sal a gosto
            </p>
            <p>
                <strong>Mode de fazer:</strong>
                <br />
                1- Coloque o feij&atilde;o em uma tigela e amasse com o garfo.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o precisa amassar todos os gr&atilde;os,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;pode deixar alguns inteiros para dar textura ao hamb&uacute;rguer;<br />
                2- Em uma panela aque&ccedil;a um pouco de &oacute;leo vegetal,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;usei mais ou menos 2 colheres de sopa.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adicione a cebola e frite at&eacute; dourar;<br />
                3- Adicione o feij&atilde;o amassado e misture com a cebola.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tempere com sal e pimenta do reino a gosto.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se a mistura estiver muito mole, com muita &aacute;gua,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;deixe cozinhar por mais um tempo.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mexa sem parar at&eacute; a mistura come&ccedil;ar a ficar mais densa;<br />
                4- Desligue o fogo e espere amornar.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lembre-se que depois de esfriar a mistura ir&aacute; ficar mais densa.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N&atilde;o se preocupe se ainda estiver mole e grudento;<br />
                5- Adicione a farinha de arroz e misture;<br />
                6- Unte as m&atilde;os com um pouco de &oacute;leo vegetal<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e molde os hamb&uacute;rguer do tamanho que preferir;<br />
                7- Aque&ccedil;a um fio de &oacute;leo vegetal e frite o hamb&uacute;rguer<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;em ambos os lados at&eacute; ficarem dourados e crocantes.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Frite somente o que for consumir na hora.<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Monte o seu lanche do jeito de preferir.
            </p>
            <p>
                <strong>Notas:</strong>
                <br />
                &ndash; Voc&ecirc; pode congelar os hamb&uacute;rgueres que n&atilde;o foram fritados,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eles duram em m&eacute;dia de 3 meses no freezer.<br />
                &ndash; Para economizar espa&ccedil;o no congelador empilhe os hamb&uacute;rgueres<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;colocando papel manteiga ou um saquinho pl&aacute;stico entre eles, guarde em um pote fechado.<br />
                &ndash; Para fazer o hamb&uacute;rguer que foi congelado,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;basta aquecer um fio de &oacute;leo em fogo m&eacute;dio e colocar<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o hamb&uacute;rguer congelado mesmo, n&atilde;o precisa descongelar.
            </p>
        </div>

    </div>
</div>
