@{
    ViewData["Title"] = "Homus funcional";
}

<h2>Homus funcional</h2>
<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes</strong>:</p>
            <p>
                1 x&iacute;cara de gr&atilde;o-de-bico (ou abobora cabotian ou feij&atilde;o akuzi ou ervilha ou abobora comum)<br />
                1 colher (sobremesa) de azeite extra-virgem <br />
                1 colher (sopa) de suco de lim&atilde;o<br />
                1 colher (ch&aacute;) de sal marinho<br />
                1 dente de alho amassados (opcional)<br />
                2 colheres (sobremesa) de tahine (pasta de gergelim) <br />
                Salsinha picada para enfeitar, azeite extra-virgem puro para regar e p&atilde;o s&iacute;rio integral de acompanhamento
            </p>
            <p><strong>Modo de Fazer:</strong></p>
            <p>
                Deixe o gr&atilde;o-de -bico de molho de um dia para outro.<br />
                Depois, cozinhe-o deixando cerca de 15 minutos em &aacute;gua fervente.<br />
                Escorra a &aacute;gua, reservando uma x&iacute;cara desta &aacute;gua.<br />
                Esfregue os gr&atilde;os, uns contra os outros, removendo o m&aacute;ximo poss&iacute;vel das cascas.<br />
                Use um multiprocessador (m&oacute;dulo de l&acirc;mina dupla) ou o liquidificador e bata os gr&atilde;os, o azeite, o lim&atilde;o, o alho, e parte da &aacute;gua do cozimento.<br />
                Se ficar muito denso, acrescente mais &aacute;gua do cozimento ou &aacute;gua fria comum.<br />
                Volte a processar at&eacute; que a massa adquira a consist&ecirc;ncia de um pur&ecirc; (sem part&iacute;culas s&oacute;lidas).<br />
                Acrescente o sal e o Tahine e processe novamente.<br />
                Passe para o recipiente que vai servir (sirva frio) acrescente salsinha bem picada, regue com azeite extra virgem puro e sirva com p&atilde;o S&iacute;rio integral.
            </p>
            <p><strong>Como montar o Avo Garden:</strong></p>
            <p>
                Cortar o avocado ao meio, retirar a semente, tirar delicadamente da casca mantendo ele inteiro e temperar com sal e suco de lim&atilde;o.<br />
                Polvilhar com c&uacute;rcuma, p&aacute;prica, gergelim branco e preto, em setores separados.<br />
                Colocar no buraco da semente uma por&ccedil;&atilde;o caprichada de homus, enfeitar com pimenta rosa e broto de alfafa. Pode ser usar tamb&eacute;m baby leaf (folhas baby de verduras) e flores comest&iacute;veis (capuchinhas e similares)
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="~/images/Homus_funcional_1.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/Homus_funcional_2.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/Avo_garden.jpg" />
        </div>
    </div>
</div>


