@{
    ViewData["Title"] = "Isotônico caseiro";
}

<h2>Isotônico caseiro</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes</strong>:</p>
            <p><strong>Ingredientes</strong>:</p>
            <p>
                1 colher de sopa de a&ccedil;&uacute;car<br />
                1 pitada de sal marinho (1/16 de uma colher de ch&aacute;)<br />
                2 colheres de sopa de suco de laranja ou lim&atilde;o <br />
                200 ml de &aacute;gua gelada
            </p>
            <p><strong>Modo de Fazer:</strong></p>
            <p>
                Dissolva o a&ccedil;&uacute;car e o sal num copo com um pouquinho de &aacute;gua quente<br />
                Acrescente o suco e a &aacute;gua gelada.
            </p>
            <p>A polpa do maracuj&aacute; pode ser uma alternativa interessante, j&aacute; que o lim&atilde;o e a laranja podem ficar meio amargos depois de certo tempo.</p>
        </div>
        <div class="col">
            <img class="img-responsive" src="~/images/Isotonico_caseiro.jpg" />
        </div>
    </div>
</div>
