@{
    ViewData["Title"] = "Kibe de ervilha partida";
}

<h2>Kibe de ervilha partida</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Kibe de ervilha partida (vegano)</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>Ingredientes</strong></p>
            <p>
                2 copos de lentilhas descascadas ou ervilhas secas e verdes<br />
                1 copo de bulgur (trigo fino para kibe)<br />
                5 copos de &aacute;gua<br />
                1 x&iacute;cara de salsinha picada<br />
                Suco de 1-2 lim&otilde;es Tahiti<br />
                raspas de meio lim&atilde;o Tahiti<br />
                2 cebolas pequenas roxas corte brunoise<br />
                6 colheres (sopa) de azeite<br />
                1 ma&ccedil;o de hortel&atilde; picado<br />
                sal e pimenta-do-reino a gosto
            </p>
            <p><strong>Modo de Fazer</strong></p>
            <p>
                Deixar a leguminosa de molho na v&eacute;spera ou por 10-12 horas.<br />
                Desprezar a &aacute;gua de demolho.<br />
                Doure a cebola no azeite, ela deve ficar bronze quase marrom.<br />
                Leve a ervilha ao fogo para cozinhar na &aacute;gua com sal.<br />
                <strong>Quando estiver cozida, desligue o fogo e junte o trigo seco.</strong><br />
                Tampe a panela e deixe descansar por 15 minutos para que o trigo hidrate.
            </p>
            <p>
                Escorra em uma peneirinha, <strong>aperte para tirar todo o excesso de liquido.</strong><br />
                Amasse com um garfo, at&eacute; obter uma pasta.<br />
                Acrescente a salsinha, as raspinhas, o suco de lim&atilde;o, a hortel&atilde; e a cebola caramelizada.
            </p>
            <p><strong>Ajuste o sal e a pimenta do reino e monte no prato como kibe cru, regue com azeite e sirva com cebola em gomos e galhos de hortel&atilde;.</strong></p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/kibe_de_ervilha_partida.jpg" />
        </div>
    </div>
</div>
