@{
    ViewData["Title"] = "Kibe de peixe";
}

<h2>Kibe de peixe</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/kibe_de_ervilha_partida_400.jpg" />
            <p>Foto do <a asp-controller="Receitas" asp-action="Kibe_de_ervilha_partida" >Kibe de ervilha partida</a></p>
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong><br />
                500g de pescada limpa<br />
                &frac12; x&iacute;cara (ch&aacute;) de coentro<br />
                3 colheres (sopa) de azeite<br />
                1 x&iacute;cara (ch&aacute;) de trigo fino<br />
                &frac12; x&iacute;cara (ch&aacute;) de &aacute;gua<br />
                Raspas de 1 laranja pequena<br />Raspas de 1 lim&atilde;o<br />
                &frac12; x&iacute;cara (ch&aacute;) de nozes picadas<br />
                Sal e pimenta-s&iacute;ria (a gosto)<br />
                2 cebolas<br />1 pitada de a&ccedil;&uacute;car<br />
                5 colheres (sopa) de azeite<br />
                Gomos de lim&atilde;o para acompanhar
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                1. Numa panela com 3 colheres (sopa) de azeite de oliva e 1 cebola m&eacute;dia picada, refogue 500g de fil&eacute; de pescada, badejo, linguado ou pirarucu.<br />
                2. Acrescente coentro fresco picado e sal a gosto.<br />
                3. Mexa bem para incorporar os sabores e desfiar o peixe.<br />
                4. Cozinhe por 15 min. Reserve.<br />
                5. Numa tigela com 1 x&iacute;cara (ch&aacute;) de trigo para quibe (que foi deixado de molho em 1 x&iacute;cara de ch&aacute; de &aacute;gua quente por 15 min), junte a mistura de peixe.<br />
                6. Acrescente casca ralada e suco de 1 laranja, 2 colheres (sopa) de hortel&atilde; picada, sal, pimenta s&iacute;ria e zaatar a gosto (tempero liban&ecirc;s), 1 x&iacute;cara (ch&aacute;) de nozes quebradas, suco de 2 lim&otilde;es e &frac12; x&iacute;cara (ch&aacute;) de azeite.<br />
                7. Misture bem.<br />
                8. Transfira esta mistura para uma travessa oval (38 cm x 15 cm x 5 cm de altura) refrat&aacute;ria e untada com azeite.<br />
                9. Alise a superf&iacute;cie com as costas de uma colher (ou com as m&atilde;os) pressionando levemente.<br />
                10. Polvilhe 1 x&iacute;cara (ch&aacute;) de nozes mo&iacute;das.<br />
                11. Corte losangos do tamanho de sua prefer&ecirc;ncia e leve ao forno pr&eacute;-aquecido a 180&ordm;c durante 15 min.<br />
                12. Sirva com coalhada fresca.<br />
                <br />
                Obs.: para retirar as espinhas, coloque os fil&eacute;s numa superf&iacute;cie, pressionando-os delicadamente com os dedos para sentir onde as espinhas est&atilde;o e, com o aux&iacute;lio de uma pin&ccedil;a, puxe as espinhas que ficaram nos fil&eacute;s
            </p>
        </div>
    </div>
</div>