@{
    ViewData["Title"] = "Leite de aveia";
}

<h2>Leite de aveia</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Leite_de_aveia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong> <br />
                2 x&iacute;caras (ch&aacute;) de aveia em flocos<br />
                1 litro de &aacute;gua mineral ou filtrada
                <br /><em>opcional, ou a sua escolha:</em><br />
                1 colher (ch&aacute;) de ess&ecirc;ncia de baunilha<br />
                Qualquer tipo de a&ccedil;&uacute;car a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Deixe a aveia de molho na &aacute;gua por, pelo menos, 1h<br />
                Coloque todos os ingredientes no liquidificador e bata bem<br />
                Coe com pano ou peneira bem fina e leve &agrave; geladeira<br />
                Dura at&eacute; 3 dias na geladeira
            </p>
        </div>
    </div>
</div>