@{
    ViewData["Title"] = "Maionese de tofu e abacate ao wassabi";
}

<h2>Maionese de tofu e abacate ao wassabi</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Maionese_de_tofu_e_abacate_ao_wassabi_400.jpg" />
            <p></p>
        </div>
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong>
                <br />
                Polpa de 1 avocado pequeno<br />
                100g de tofu soft<br />
                Suco de &frac12; lim&atilde;o tahiti grande<br />
                1 ovo ou 2 claras ou 50ml de ovo de linha&ccedil;a<br />
                1 c. ch&aacute; de sal<br />
                Wassabi a gosto
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>Bata no liquidificador ou mixer todos os ingredientes at&eacute; obter um creme em consist&ecirc;ncia de maionese.</p>
            <p>
                Para lanches, pat&ecirc;s e saladas.<br />
                Tampado dura 3 dias em geladeira.
            </p>
        </div>

    </div>
</div>