@{
    ViewData["Title"] = "Maionese de tofu";
}

<h2>Maionese de tofu</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Maionese_de_tofu_400.jpg" />
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong>
                <br />
                &frac14; de tofu soft (100g)<br />
                1/2 x&iacute;cara de azeite extra virgem<br />
                Suco de 1 lim&atilde;o<br />
                1 c. caf&eacute; de molho de mostarda em gr&atilde;os<br />
                Sal a gosto<br />
                2 c. sopa de cebolinha picada
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>Unir todos os ingredientes e bater com mixer ou liquidificador.</p>
        </div>

    </div>
</div>
