@{
    ViewData["Title"] = "Maionese de abacate";
}

<h2>Maionese de abacate</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Maionese_de_abacate_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                Polpa de 1 abacate m&eacute;dio<br />
                1/2 x&iacute;cara de azeite extravirgem<br />
                Suco de 1 lim&atilde;o<br />
                8 c. sopa de &aacute;gua<br />
                1 c. ch&aacute; de sal<br />
                1 pitada de pimenta do reino e ervas a gosto (opcional)
                <br />
                <br />
                <strong>Modo de fazer: <br /> </strong>
                Bata no liquidificador a polpa de abacate com o lim&atilde;o, a &aacute;gua e os temperos.<br />
                V&aacute; acrescentando o azeite aos poucos e batendo.<br />
                Se desejar, adicione ervas picadas.<br />
                Para lanches, pat&ecirc;s e saladas.<br />
                Tampado dura 3 dias em geladeira.
            </p>
        </div>

    </div>
</div>
