
@{
    ViewData["Title"] = "Mandioqueijo Queijo de mandioca";
}

<h2>Mandioqueijo Queijo de mandioca</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Mandioqueijo_Queijo_de_mandioca_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong><br />
                1 xic de mandioquinha cozida ou batata doce<br />
                3 cs de azeite de oliva<br />
                1 cs de polvilho doce<br />
                1 c. ch&aacute; de polvilho azedo<br /> sal rosa<br />
                &frac12; x&iacute;c de &aacute;gua
            </p>
            <br />
            <p><strong>Modo de fazer:<br /></strong>
                Bater os ingredientes no liquidificador e levar ao fogo mexendo at&eacute; engrossar mais.<br />
                Deixar na geladeira e pronto!
            </p>
        </div>

    </div>
</div>
