@{
    ViewData["Title"] = "Mini sufles de abobora";
}

<h2>Mini sufles de abobora</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Mini_sufles_de_abobora_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong> <br />
                700g de abobora japonesa cozida ou assada e amassada (pur&ecirc;)<br />
                100g de ricota ou tofu ou cottage<br />
                3 gemas de ovo<br />3 claras em neve<br />
                1 c. sopa de farinha de arroz<br />
                1 c. sopa de farinha de linha&ccedil;a<br />
                Sal, pimenta do reino, or&eacute;gano e noz moscada
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Misture o pur&ecirc; de abobora com o tofu ou ricota ou cottage bem amassados,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;as gemas, farinhas e temperos.<br />
                Por &uacute;ltimo, misture delicadamente as claras em neve.<br />
                Despeje em forminhas de silicone e leve ao forno para assar at&eacute; ficarem dourados.<br />
                Forno aprox. 200 graus, 30-40 min.
            </p>
        </div>
    </div>
</div>