@{
    ViewData["Title"] = "Mini bolinhos de chocolate do bem";
}

<h2>Mini bolinhos de chocolate do bem</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                2 ovos<br />6 c. sopa de farinha de coco<br />
                3 c. sopa de achocolatado org&acirc;nico<br />
                30 ml de leite de arroz (ou de outra semente ou de vaca)<br />
                1 c ch&aacute; de fermento
            </p>
            <p><strong>Modo de fazer:</strong></p>
            <p>
                Misturar tudo e colocar em formas de silicone, pela metade.<br />
                Eu untei as formas com &oacute;leo de coco. 7-10 minutos em forno a 180 graus.<br />
                Depois recheio e cobertura de alfarroba e avel&atilde; (creme de avel&atilde; sem leite e chocolate).
            </p>
            <p>
                &nbsp;<br />
                Rende 7 mini cakes
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="~/images/Mini_bolinhos_de_chocolate_do_bem_2.jpg" />
        </div>
    </div>
</div>
