@{
    ViewData["Title"] = "Mini cuscuz de legumes e sálvia";
}

<h2>Mini cuscuz de legumes e sálvia</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Mini_cuscuz_de_legumes_e_salvia_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                Serve 6 pessoas<br />
                Tempo de preparo: 25 min
            </p>
            <br />
            <p>
                <strong>Ingredientes:</strong><br />
                2 &frac12; x&iacute;caras de farinha de milho amarela<br />
                300 ml de molho de tomate<br />
                300 ml de caldo de legumes<br />
                50 ml de azeite extravirgem<br />
                1/2 x&iacute;cara de gr&atilde;os de milho cozidos<br />
                1/2 x&iacute;cara de ervilhas frescas, levemente cozidas<br />
                1 cenoura pequena, picada e levemente cozida<br />
                Pimenta jalape&ntilde;o picada a gosto<br />
                S&aacute;lvia<br /> Sal a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Aque&ccedil;a o azeite e refogue a pimenta por 2 minutos.<br />
                Acrescente as folhas de s&aacute;lvia e refogue por mais 1 minuto.<br />
                Acrescente o milho e refogue por 2 minutos.<br />
                Junte a ervilha e a cenoura, salgue e refogue por mais 1 minuto.<br /> 
                Adicione o molho de tomate e deixe em fogo baixo por 3 minutos.<br /> 
                Acrescente o caldo de legumes e misture bem. Verifique o sal.<br /> 
                Adicione a farinha de milho aos poucos e deixe cozinhar em fogo brando, mexendo sempre, por cerca de 10 minutos.<br />
                A mistura n&atilde;o deve ficar nem com l&iacute;quido aparente nem muito seca.<br /> 
                Unte forminhas individuais com azeite e preencha com o cuscuz.<br />
                Deixe esfriar e desenforme.
            </p>
        </div>
    </div>
</div>