
@{
    ViewData["Title"] = "Molho para salada Mostarda";
}

<h2>Molho para salada Mostarda</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                &frac14; x&iacute;cara (ch&aacute;) de suco de lim&atilde;o tahiti <br />
                2/3 x&iacute;caras (ch&aacute;) de azeite extra virgem <br />
                1 &frac12; colher (sopa) de mel<br />
                3 colheres (sopa) de mostarda dijon ou amarela<br />
                Sal e pimenta do reino
            </p>
            <p><strong>Mode de fazer:</strong></p>
            <p>Bata todos os ingredientes no liquidificador at&eacute; o molho ficar cremoso.</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
