@{
    ViewData["Title"] = "Molho para salada Alho com iogurte";
}

<h2>Molho para salada Alho com iogurte</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                1 x&iacute;cara de iogurte desnatado<br />
                1 pitada de sal<br />
                1 pitada de pimenta do reino (opcional)<br />
                1 c. sopa de azeite de oliva<br />
                1 c. caf&eacute; de alho picadinho (opcional)<br />
                1 c. sopa de salsinha ou cebolinha picada
            </p>
            <br />
            <p>
                <strong>Modo de fazer:</strong>
                <br />
                Misturar todos os ingredientes e temperar a salada</p>
        </div>
        <div class="col">
        </div>
    </div>
</div>
