@{
    ViewData["Title"] = "Moqueca de palmito pupunha com banana da terra";
}

<h2>Moqueca de palmito pupunha com banana da terra</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Moqueca_de_palmito_pupunha_com_banana_da_terra_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Moqueca de palmito pupunha com banana-da-terra</strong>.</p><br />
            <p>Serve 3 por&ccedil;&otilde;es</p>
            <br />
            <p>
                <strong>Ingredientes:</strong><br />
                2 x&iacute;caras (ch&aacute;) de banana-da-terra madura cortada em rodelas<br />
                1 x&iacute;cara (ch&aacute;) de leite de coco<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(reserve 2 colheres de sopa para o pir&atilde;o e o restante para a moqueca)<br />
                1 x&iacute;cara (ch&aacute;) de &aacute;gua filtrada
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                (2 colheres de sopa para o pir&atilde;o e o restante para a moqueca)<br />
                1 x&iacute;cara (ch&aacute;) de cebola picada<br />
                1 x&iacute;cara (ch&aacute;) de tomate picado<br />
                1/2 x&iacute;cara (ch&aacute;) de farinha de mandioca <br />
                1/2 x&iacute;cara (ch&aacute;) de coentro picado <br />
                1 colher (sopa) de azeite de dend&ecirc;<br />
                1 colher (sopa) de azeite<br />
                2 palmitos pupunhas frescos cortados em rodelas (aproximadamente 200 g)<br />
                2 dentes de alho socado<br />
                1/2 piment&atilde;o picado
            </p>
            <br />
            <p>
            <p><strong>Moqueca</strong></p><br />
            <p>1 Divida o tomate, o piment&atilde;o, a cebola, a banana-da-terra e o pupunha em 3 partes iguais.</p><br />
            <p>
                2 Aque&ccedil;a a panela de barro com azeite comum e refogue o alho e a cebola at&eacute; dourar.<br />
                3 Forme uma camada no fundo da panela com uma parte dos legumes porcionados.<br />
                4 Tempere com uma pitada de sal e pimenta.<br />
                5 Forme outra camada de legumes, tempere novamente e repita o procedimento.<br />
                6 Adicione o coentro e regue com o dend&ecirc;, o leite de coco e um pouco de &aacute;gua.<br />
                7 Quando a moqueca estiver quase pronta (aproximadamente 15 minutos), retire uma parte do caldo que se formou na panela e reserve para o por&atilde;o.<br />
                8 Acerte os temperos, abaixe o fogo e deixe cozinhar por cerca de 5 minutos com a panela tampada. <br />
            </p>
            <p><strong>Pir&atilde;o<br /></strong></p><br />
            <p>
                1 Coloque o caldo reservado em uma panela e adicione a farinha de mandioca, o leite de coco e 2 colheres (sopa) de &aacute;gua.<br />
                2 Ajuste o ponto conforme preferir; para um pir&atilde;o mais ralo, adicione mais caldo.<br />
                3 Acerte os temperos e sirva com a moqueca.<br />
            </p>
        </div>

    </div>
</div>
