@{
    ViewData["Title"] = "Mousse de cacau";
}

<h2>Mousse de cacau</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Mousse_de_cacau_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong> <br />
                1 abacate m&eacute;dio bem maduro<br />
                2 c. sopa de cacau em p&oacute; cheias<br />
                2 c. sopa de mel ou ado&ccedil;ante xylitol<br />
                2 c. ch&aacute; de canela em p&oacute;<br />
                1 c. de sobremesa de shoyu macrobi&oacute;tico ou 1 c. ch&aacute; de sal marinho
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:<br /></strong>
                Passe todos os ingredientes no processador ou liquidificador at&eacute; formar um creme homog&ecirc;neo.<br />
                Coloque em ta&ccedil;as e leve para gelar por cerca de 2 h.
            </p>
        </div>
    </div>
</div>