@{
    ViewData["Title"] = "Muffins de canela";
}

<h2>Muffins de canela</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Muffins_de_canela_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                2 ovos<br />2 c. sopa de leite de coco<br />
                2 c. sopa de amaranto em flocos<br />
                80g de batata doce cozida<br />
                1 c. ch&aacute; de canela<br />
                1 c. sopa de a&ccedil;&uacute;car de coco ou mascavo
                <br />
                <br />
                <strong>Modo de fazer:</strong>
                <br />
                Processar todos os ingredientes e colocar em formas para muffins de silicone.<br />
                Pode salpicar com nibs de cacau ou castanhas picadas. <br />
                Levar ao forno pr&eacute;-aquecido a 180 graus por 15 minutos.
            </p>
        </div>

    </div>
</div>