@{
    ViewData["Title"] = "Muffins de batata doce";
}

<h2>Muffins de batata doce</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Muffins_de_batata_doce_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong>
                <br />
                2 cs de batata doce cozida<br />
                2 cs de farinha de linha&ccedil;a dourada<br />
                1 cs de farinha de linha&ccedil;a marrom&nbsp;(pode substituir por 2 c. sopa de chia hidratada)<br />
                1 cc de polvilho doce<br />
                1 cc de fermento<br />
                1 cs de &oacute;leo de coco<br />
                Raspas de lim&atilde;o,<br />
                1 cc de a&ccedil;afr&atilde;o, noz moscada, raspas de gengibre, sal rosa
            </p>
            <br />
            <p><strong>Modo de fazer:&nbsp;</strong><br />
                Misture tudo at&eacute; a massa ficar homog&ecirc;nea.<br />
                Coloque em forminhas e leve ao micro-ondas por 6-9 minutos.<br />
                Sirva com geleia de frutas vermelhas ou queijo cremoso light
            </p>
        </div>

    </div>
</div>
