@{
    ViewData["Title"] = "Nutella funcional";
}

<h2>Nutella funcional</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                5 c. sopa de tahine<br />
                30-50ml de &aacute;gua (para deixar o tahine mais fluido<br />
                40g de chocolate meio amargo (com &gt;60% de cacau)
            </p>
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                Diluir o tahine com &aacute;gua at&eacute; obter um creme macio.<br />
                Derreter o chocolate e incorporar ao tahine.
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Nutella_funcional.jpg" />
        </div>
    </div>
</div>
