@{
    ViewData["Title"] = "Nutella funcional";
}

<h2>Nutella funcional</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Nutella_funcional_400.jpg" />
            <p></p>
        </div>
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong>
                <br />
                5 c. sopa de tahine<br />
                30-50ml de &aacute;gua (para deixar o tahine mais fluido<br />
                40g de chocolate meio amargo (com &gt;60% de cacau)
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong>
                Diluir o tahine com &aacute;gua at&eacute; obter um creme macio.<br />
                Derreter o chocolate e incorporar ao tahine.
            </p>
        </div>

    </div>
</div>
