@{
    ViewData["Title"] = "Panqueca de microondas";
}

<h2>Panqueca de microondas</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Panqueca_de_microondas_400.jpg" />
            <P></P>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                3 c. sopa de farinha de milho (15g)<br />
                1 x&iacute;cara de ch&aacute; de leite de sementes (140g)<br />
                1 c. ch&aacute; de amaranto (1g)<br />
                1 c. sopa de chia (7g)<br />1 c. s. de farinha de aveia (6g)<br />
                Temperos doces (A&ccedil;&uacute;car.&nbsp; demerara, mascavo, sucralose ou de coco) ou salgados
                <br />
                <br />
                <strong>Modo de fazer:</strong>
                <br />
                Mexer os ingredientes e deixar na geladeira at&eacute; o dia seguinte.<br />
                Adicionar 1 ovo inteiro, 1 c. ch&aacute; de fermento qu&iacute;mico.<br />
                Em refrat&aacute;rio untado, levar ao micro-ondas em pot&ecirc;ncia m&aacute;xima por 5 minutos.
                <br />
                <br />
                <strong>Opcional: Cortar e tostar na frigideira.</strong>
            </p>
        </div>

    </div>
</div>
