
@{
    ViewData["Title"] = "Panqueca de cacau sacietogênica";
}

<h2>Panqueca de cacau sacietogênica</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Panqueca_de_cacau_sacietogenica_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes:</strong>
                <br />
                1 banana madura<br />
                1 ovo inteiro<br />
                1 c. sobremesa de cacau em p&oacute;<br />
                1 c. sopa de farinha de aveia (ou farelo)<br />
                1 pitada de canela
                <br />
                <br />
                <strong>Modo de fazer: <br /> </strong>
                Amassar todos os ingredientes juntos e levar ao fogo em panela antiaderente at&eacute; cozinhar<br />
                Servir simples ou com uma cobertura de geleia sem a&ccedil;&uacute;car,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;creme de abacate com whey/prote&iacute;na de arroz integral,
                <a href="/Receitas/Nutella_funcional">nutella funcional</a>
            </p>
        </div>

    </div>
</div>
