@{
    ViewData["Title"] = "Pão de chia";
}

<h2>Pão de chia</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pao_de_chia_400.jpg" />
            <P></P>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong></p>
            <p>
                500g mandioquinha cozida, amassada sem casca<br />
                500g polvilho azedo<br />
                2 colheres de ch&aacute; de sal<br />
                3 colheres de sopa de chia<br />
                150 ml azeite<br />
                &Aacute;gua em temperatura ambiente quanto baste
            </p>
            <p><strong>Modo de fazer:</strong></p>
            <p>
                Misture o polvilho com o azeite e o sal at&eacute; formar uma farofa.<br />
                Adicione a mandioquinha e amasse bem.<br />
                Adicione aos poucos a &aacute;gua at&eacute; a massa ficar molinha, gostosa de trabalhar e desgrudar das m&atilde;os.<br />
                Adicione a chia e misture at&eacute; ela se integrar &agrave; massa.<br />
                Leve ao forno m&eacute;dio at&eacute; que fiquem levemente douradas.
            </p>
        </div>

    </div>
</div>
