
@{
    ViewData["Title"] = "Pão sem glúten de milho de micro ondas";
}

<h2>Pão sem glúten de milho de micro ondas</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                2 cs de fub&aacute;<br />
                2 cs de amido de milho<br />
                1 cs de ado&ccedil;ante culin&aacute;rio (se preferir salgado 1/2 cc de sal e 2 cc de ado&ccedil;ante) <br />
                1 cs de &oacute;leo de coco (pode usar outro &oacute;leo)<br />
                2 cs de &aacute;gua<br />
                1 cs de farinha de linha&ccedil;a dourada<br />
                1 ovo<br /> 1 cc de fermento<br />
                1 cs de &oacute;leo de coco (pode usar outro &oacute;leo) <br />
                2 cs de &aacute;gua<br />
                1 cs de farinha de linha&ccedil;a dourada (pra dar a maciez) <br />
                1 cc de fermento.
            </p>
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>Microondas por 2 minutos em refrat&aacute;rio untado com &oacute;leo ou com manteiga</p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Pao_sem_glúten_de_milho_de_micro_ondas.jpg" />
        </div>
    </div>
</div>
