
@{
    ViewData["Title"] = "Pão de batata doce";
}

<h2>Pão de batata doce</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pao_de_batata_doce_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong>
            <br />
                1 xic. de batata doce cozida e bem amassada<br />
                1 c. sopa cheia de polvilho azedo<br />
                2 c. sopa cheias de polvilho doce<br />
                1 c. sobremesa de azeite de oliva<br />1 c.de ch&aacute; de or&eacute;gano<br />
                1 c.de caf&eacute; de a&ccedil;afr&atilde;o em p&oacute; (pode ser c&uacute;rcuma em p&oacute;)<br />
                Sal a gosto
            </p>
            <p><strong>Modo de fazer: <br /> </strong>
                Misture tudo at&eacute; a massa ficar homog&ecirc;nea e se soltar das m&atilde;os.<br />
                Fa&ccedil;a bolinhas semelhantes ao p&atilde;o de queijo e asse em forno pr&eacute;-aquecido por 30-40 min ou at&eacute; ficarem ligeiramente dourados.
            <br />
            Pode adicionar farinha de chia ou linha&ccedil;a para diminuir o &iacute;ndice glic&ecirc;mico.</p>
        </div>

    </div>
</div>
