@{
    ViewData["Title"] = "Pão de espinafre";
}

<h2>Pão de espinafre</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pao_de_espinafre_400.jpg" />
        </div>
        <div class="col">
            <br />
            <p><strong>Ingredientes:</strong>
                <br />
                1 xic de espinafre congelado<br />
                5 cs de farinha de arroz e quinoa<br />
                1 cs de chia hidratada<br />
                1 c. ch&aacute; de polvilho azedo<br />
                Sal rosa<br />
                1 cc de fermento qu&iacute;mico<br />
                Tempero Z&aacute;tar a gosto
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                Misturar todos os ingredientes com uma colher at&eacute; obter uma massa bem grossa. <br />
                Untar uma forma, fazer 3-4 p&atilde;es e levar ao forno quente (200 graus) por 15 minutos.
            </p>
        </div>

    </div>
</div>
