@{
    ViewData["Title"] = "Pao de frigideira";
}

<h2>Pao de frigideira</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pao_de_frigideira_400.jpg" />
            <p></p>
        </div>
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong>
                <br />
                1 ovo <br />
                1 cs de farinha de polvilho ou arroz ou fub&aacute; de milho <br />
                1 cs de linha&ccedil;a mo&iacute;da<br />
                1 cs de farelo de aveia <br />
                1 c. sobremesa de azeite <br />
                1 c. ch&aacute; de fermento qu&iacute;mico<br />
                Sal e tempero de ervas a gosto
            </p>
            <br />
            <p><strong>Modo de fazer: <br /> </strong></p>
            <p>
                Misturar bem at&eacute; obter um creme.<br />
                Aquecer uma frigideira com um pouco de &oacute;leo (usei de coco), despejar a mistura at&eacute; formar o p&atilde;o.
            </p>
        </div>

    </div>
</div>
