@{
    ViewData["Title"] = "Pizza de omelete";
}

<h2>Pizza de omelete</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pizza_de_omelete_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p><strong>Ingredientes:</strong></p>
            <br />
            <p>
                <strong>Massa:</strong><br />
                1 ovo inteiro + 4 claras<br />
                1 colher (sopa) de queijo ralado<br />
                Sal e pimenta a gosto
            </p>
            <br />
            <p>
                <strong>Cobertura:</strong><br />
                1 colheres (sopa) de azeite<br />
                1/2 dente de alho picado<br />
                2 tomates sem pele e sem sementes, picados<br />
                Sal e pimenta a gosto&nbsp;<br />
                1colher de ch&aacute; do <a href="#tempero">tempero para pizza*</a> sugerido ou apenas or&eacute;gano/manjeric&atilde;o<br />
                1/2 ma&ccedil;o de escarola ou br&oacute;colis lavado e picado (depois de pronto, folhas de r&uacute;cula lavadas)<br />
                100 g de mu&ccedil;arela de b&uacute;fala em rodelas (hoje se escreve com &ccedil;)<br />
                Folhas de manjeric&atilde;o a gosto
            </p>
            <br />
            <p>
                <strong>Modo de Fazer:</strong>
                <br />
                <strong>Massa:</strong>
                <br />
                Bata os ovos e misture o queijo ralado<br />
                Tempere com o sal e a pimenta<br />
                Com o azeite, unte uma frigideira antiaderente<br />
                Ponha a mistura de ovos e, no fogo baixo, doure a omelete dos dois lados<br />
                Transfira para uma assadeira e deixe esfriar um pouco
            </p>
            <br />
            <p>
                <strong>Cobertura:</strong><br />
                Aque&ccedil;a o azeite e doure o alho<br />
                Junte o tomate, tempere com o sal, a pimenta e refogue por cinco minutos.<br />
                Espalhe sobre a omelete<br />
                Na mesma panela refogue a escarola/br&oacute;colis temperada com sal at&eacute; murchar e ponha sobre o tomate.<br />
                Coloque as rodelas de mu&ccedil;arela e as folhas de manjeric&atilde;o<br />
                Regue com azeite e leve ao forno por 10-15 minutos<br />
                Sirva em seguida
            </p>
            <br />
            <p id="tempero">
                <strong>* Tempero para pizza:<br /></strong>
                Partes iguais de Tomilho, Manjeric&atilde;o, Or&eacute;gano e Alecrim (tudo desidratado)<br />
                Misture tudo e guarde em um vidro com tampa
            </p>
        </div>
    </div>
</div>