@{
    ViewData["Title"] = "Pizza sem gluten de quinua";
}

<h2>Pizza sem gluten de quinua</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Pizza_sem_gluten_de_quinua_400.jpg" />
            <p></p>
        </div>
        <div class="col">
            <p>
                <strong>Massa:</strong> <br />
                1/2 x&iacute;cara de amido de milho (maisena) <br />
                2 colheres de sopa de semente de linha&ccedil;a <br />
                2 colheres de sopa de quinua em flocos <br />
                1 x&iacute;cara de polvilho azedo <br />
                1 x&iacute;cara de farinha de arroz <br />
                2 colheres (sopa) de &oacute;leo <br />
                1 colher (sopa) cheia de fermento em p&oacute; <br />
                2 ovos <br />
                1 x&iacute;cara de &aacute;gua sal a gosto<br /> <br />
                <strong>
                    Modo de fazer: <br />
                </strong>Bata os ovos, junte o &oacute;leo e aos poucos acrescente o amido de milho,<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a farinha de arroz, o polvilho e a linha&ccedil;a.<br />
                Acrescente a &aacute;gua e misture bem at&eacute; formar uma massa pegajosa.<br />
                Coloque o fermento em p&oacute; e mexa bem.<br />
                Tempere com sal e pimenta do reino e coloque em uma forma redonda untada com &oacute;leo.<br />
                Leve ao forno quente para assar por alguns minutos.
            </p>
        </div>

    </div>
</div>