@{
    ViewData["Title"] = "Queijo vegano";
}

<h2>Queijo vegano</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Legumes com crumble low carb</strong></p>
            <p><strong>Queijo vegano</strong></p>
            <p>1 xic de castanhas (caju ou am&ecirc;ndoa ou macad&acirc;mia etc.) deixadas em &aacute;gua por 8 horas para hidratar<br /> &frac12; x&iacute;cara de &aacute;gua<br /> suco de &frac12; lim&atilde;o (se gostar, pode por mais)<br /> 2 c. sopa de azeite extra virgem<br /> 1 c. ch&aacute; de sal<br /> 1 c. sobremesa de polvilho azedo<strong><br /> 1 c. sopa de &aacute;gar &aacute;gar tipo KANTEN</strong></p>
            <p>&nbsp;</p>
            <p>
                <strong>Modo de fazer:</strong> <br /> Bater as castanhas hidratadas no liquidificador junto com a &aacute;gua (n&atilde;o coloque tudo, v&aacute; adicionando e observando a consist&ecirc;ncia), o sal, o azeite, o polvilho, o lim&atilde;o e o &aacute;gar &aacute;gar. <br />
                Bater at&eacute; obter um creme liso.<br />
                Leve ao fogo em panela convencional, at&eacute; a fervura, mexendo sempre.<br />
                O ponto &eacute; quando a mistura come&ccedil;ar a desgrudar do fundo, no m&aacute;ximo 5 minutos (de fervura).<br />
                Coloque em forminha e leve &agrave; geladeira por 2 horas antes de servir.<br />
                O queijo deve ficar em ponto de corte.
            </p>
        </div>
        <div class="col">
            <img img class="img-responsive" src="/images/Queijo_vegano.png" />
        </div>
    </div>
</div>
