
@{
    ViewData["Title"] = "Smoothie de banana e maçã";
}

<h2>Smoothie de banana e maça</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Smoothie_de_banana_e_maca_400.jpg" />
            <p></p>
        </div>
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong>
                <br />
                1 ma&ccedil;&atilde; pequena congelada<br />
                1 banana congelada<br />
                1 iogurte grego<br />
                Canela e chia para decorar (opcionais)<br />
                Raspas de chocolate ou frutas vermelhas picadas para decorar
            </p>
            <br />
            <p><strong>Modo de fazer:&nbsp;</strong><br />
                Processar todos os ingredientes e decorar com raspas de chocolate ou frutas vermelhas picadas
            </p>
        </div>

    </div>
</div>
