@{
    ViewData["Title"] = "Smoothie de cacau";
}

<h2>Smoothie de cacau</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                200 ml de leite de arroz ou am&ecirc;ndoas<br />
                1 c. sopa de cacau em p&oacute; ou achocolatado<br />
                1 c. ch&aacute; de Agar Agar ou goma xantana<br />
                Gelo a vontade<br />
                1 fio de mel ou agave
            </p>
            <p><strong>Modo de fazer:&nbsp;</strong></p>
            <p>Bater tudo no liquidificador e salpicar canela ou cacau em p&oacute;</p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Smoothie_de_cacau.jpg" />
        </div>
    </div>
</div>
