
@{
    ViewData["Title"] = "Tortinhas de limão maracujá e morango";
}

<h2>Tortinhas de limão maracujá e morango</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Receita de tortinhas de lim&atilde;o, maracuj&aacute; e morango</strong></p>
            <p><strong>Primeiro voc&ecirc; vai separar os ingredientes para a massa da tortinha:</strong></p>
            <p>Para cada 3 tortinha do tamanho da forma de silicone de muffins, voc&ecirc; precisa:</p>
            <p><em>4 colheres de sopa bem cheias de aveia em flocos finos<br /></em><em>1 clara de ovo grande<br /> </em><em>1 colher de sobremesa de a&ccedil;&uacute;car de coco ou demerara ou mascavo</em>.</p>
            <p>Misture todos os ingredientes at&eacute; formar uma massa bem consistente.</p>
            <p><strong>Dividir em 3 partes e com cada parte forrar a forminha de silicone. N&atilde;o precisa untar. Fa&ccedil;a a tortinha bem fininha e depois corte em cima pra ficar reto</strong></p>
            <p>Agora voc&ecirc; vai pedir para um adulto colocar a assadeira no forno e vai esperar assar por 6 minutos. Pronto!! A massa t&aacute; assada.</p>
            <p>Vamos aos recheios. Estes s&atilde;o f&aacute;ceis!</p>
            <p>Voc&ecirc; vai precisar de:</p>
            <p><em>1 iogurte grego morango (para a torta de morango) + 1 morango fatiado<br /> </em><em>1 iogurte grego de maracuj&aacute; (j&aacute; vem com as sementinhas no fundo)<br /> </em><em>1 iogurte grego branco + suco de &frac12; lim&atilde;o + raspas de lim&atilde;o + goma guar (vende em farm&aacute;cia)</em></p>
            <p>Para a tortinha de morango: recheie com o iogurte e depois coloque a calda de morango em cima. Enfeite com peda&ccedil;os de morango.</p>
            <p>Para a tortinha de maracuj&aacute;: recheie com o iogurte e depois coloque a calda de maracuj&aacute; em cima.</p>
            <p><strong>Para a tortinha de lim&atilde;o: misture o iogurte com 3 c.sopa de suco de lim&atilde;o. Se ficar mole, misture bem devagarzinho 1 c.caf&eacute; de goma guar pra dar consist&ecirc;ncia. Deixe na geladeira por30 min. Recheie a tortinha e enfeite com as raspas de lim&atilde;o.</strong></p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Tortinhas_de_limão_maracujá_e_morango_1.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="/images/Tortinhas_de_limão_maracujá_e_morango_2.jpg" />
            <p>&nbsp;</p>
            <img class="img-responsive" src="/images/Tortinhas_de_limão_maracujá_e_morango_3.jpg" />
        </div>
    </div>
</div>
