@{
    ViewData["Title"] = "Tortinha de cebola purê rústico agridoce";
}

<h2>Tortinha de cebola purê rutsico agridoce</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="~/images/Tortinha_de_cebola_com_purê_rústico_agridoce_400.jpg" />
        </div>
        <div class="col">
            <p>
                <strong>Ingredientes para 2 unidades:</strong>
                <br />
                &frac12; cebola cozida por 3 minutos (tira acidez)<br />
                2 c. sopa de batata inglesa cozida e amassada<br />
                2 c. s. de farinha de linha&ccedil;a dourada<br />
                1 c. s de farinha de arroz (ou de coco ou de banana verde)<br />
                1 c. ch&aacute; de polvilho doce<br />
                1 c. ch&aacute; de chia<br />
                1 c. ch&aacute; de fermento qu&iacute;mico<br />
                Sal rosa, or&eacute;gano e temperos preferidos
                <br />
                <br />
                <strong>Pur&ecirc; r&uacute;stico agridoce:</strong>
                <br />
                Avogado ou abacate<br />Lim&atilde;o<br />
                C&uacute;rcuma<br />Stevia ou sucralose<br />
                Caramelo de bals&acirc;mico
                <br />
                <br />
                <strong>Modo de fazer:</strong><br />
                Corte em pedacinhos a cebola cozida em &aacute;gua por 3 minutos e<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;adicione a batata inglesa amassada e cozida, adicione todos os outros ingredientes.<br />
                Coloque em forminhas a leve ao forno a 250 graus at&eacute; dourar.<br />
                Servir sobre pur&ecirc; r&uacute;stico, onde &eacute; s&oacute; misturar os ingredientes.
            </p>
        </div>

    </div>
</div>
