@{
    ViewData["Title"] = "Torta de banana funcional";
}

<h2>Torta de banana funcional</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Ingredientes:</strong></p>
            <p>
                3 bananas nanicas<br />2 ovos<br />
                1 xic de ch&aacute; de a&ccedil;&uacute;car demerara ou ado&ccedil;ante culin&aacute;rio<br />
                1 x&iacute;c. de ch&aacute; de farinha de mandioca branca crua<br />
                &frac12; c. sobremesa de fermento qu&iacute;mico<br />
                1/3 de x&iacute;c. de ch&aacute; de &oacute;leo (pode ser de coco)<br />
                1 x&iacute;c. de ch&aacute; de &aacute;gua<br />
                3 c. ch&aacute; de canela
            </p>
            <p><strong>Modo de fazer:&nbsp;</strong></p>
            <p>
                Bata 2 bananas, 1 xic.de ch&aacute; de ado&ccedil;ante, &oacute;leo e ovos no liquidificador.<br />
                Coloque esta massa em uma tigela e adicione a canela, o fermento e a farinha.<br />
                Mexa e adicione uma banana picada em cubos.<br />
                Verter esta mistura em uma forma para micro-ondas e levar ao forno por 9 minutos
            </p>
        </div>
        <div class="col">
            <img class="img-responsive" src="/images/Torta_de_banana_funcional.jpg" />
        </div>
    </div>
</div>
