<table class="table">
    <tr>
        <td>
            <a asp-controller="Home" asp-action="Index">
                <img class="img-responsive pull-left" src="~/images/manuela_ibi-345.png" />
            </a>
        </td>
        <td>
            <a asp-controller="Home" asp-action="Index">
                <img class="img-responsive pull-right" src="~/images/lis-logo-120.png" />
            </a>
        </td>
    </tr>
</table>