@{
    ViewData["Title"] = "About";
}
<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Dra. Manuela Ibi</h1>
            <h2>Resumo</h2>
            <p>Especializada em Fitoterapia, Acupuntura e Nutri&ccedil;&atilde;o Enteral e Parenteral, a nutricionista Manuela Ibi acredita e defende o conceito da alimenta&ccedil;&atilde;o ser individualizada e fundamental para nutrir nosso corpo e nossa mente. &Eacute; atrav&eacute;s dela que nosso organismo extrai nutrientes necess&aacute;rios ao seu equil&iacute;brio, nos proporcionando energia, boa forma, prazer e longevidade, al&eacute;m de desempenhar um importante papel sociocultural em nossas vidas.</p>
            <h2>Forma&ccedil;&atilde;o Acad&ecirc;mica</h2>
            <p>P&oacute;s-Gradua&ccedil;&atilde;o em Fitoterapia Integrativa (FAMATEC)<br /> P&oacute;s-Gradua&ccedil;&atilde;o em Acupuntura e Medicina Tradicional Chinesa (CEATA &ndash; FAAC)<br /> Especializa&ccedil;&atilde;o em Nutri&ccedil;&atilde;o Enteral e Parenteral (SBNPE)<br /> Gradua&ccedil;&atilde;o em Nutri&ccedil;&atilde;o - (USP-SP)</p>
        </div>
        <div class="col">
            <img class="img-responsive" src="~/images/Manuela_Ibi_250.jpg" />
            <p>Dra. Manuela Ibi</p>
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/Fitoterapia.jpg" />
            <p>Fitoterapia</p>
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/Material_de_apoio.jpg" />
            <p>Material de Apoio</p>
        </div>
    </div>
</div>
