@{
    ViewData["Title"] = "About";
}
<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <h1>Dra. Manuela Ibi</h1>
            <h2>Resumo</h2>
            <p>Especializada em Fitoterapia, Acupuntura e Nutri&ccedil;&atilde;o Enteral e Parenteral, a nutricionista Manuela Ibi acredita e defende o conceito da alimenta&ccedil;&atilde;o ser individualizada e fundamental para nutrir nosso corpo e nossa mente. &Eacute; atrav&eacute;s dela que nosso organismo extrai nutrientes necess&aacute;rios ao seu equil&iacute;brio, nos proporcionando energia, boa forma, prazer e longevidade, al&eacute;m de desempenhar um importante papel sociocultural em nossas vidas.</p>
            <h2>Forma&ccedil;&atilde;o Acad&ecirc;mica</h2>
            <p>P&oacute;s-Gradua&ccedil;&atilde;o em Fitoterapia Integrativa (FAMATEC)<br /> P&oacute;s-Gradua&ccedil;&atilde;o em Acupuntura e Medicina Tradicional Chinesa (CEATA &ndash; FAAC)<br /> Especializa&ccedil;&atilde;o em Nutri&ccedil;&atilde;o Enteral e Parenteral (SBNPE)<br /> Gradua&ccedil;&atilde;o em Nutri&ccedil;&atilde;o - (USP-SP)</p>
            <h2>Servi&ccedil;os de Nutri&ccedil;&atilde;o Integrada</h2>
            <h3>Consulta Nutricional</h3>
            <p>Atendimento personalizado em consult&oacute;rio, onde por meio de uma avalia&ccedil;&atilde;o nutricional detalhada feita por BIOIMPED&Acirc;NCIA, &eacute; elaborado um plano alimentar de acordo com todos os objetivos, necessidades e rotina individual ou familiar. Vasta experi&ecirc;ncia no tratamento dietoter&aacute;pico em patologias como diabetes, obesidade, s&iacute;ndrome do intestino irrit&aacute;vel, sensibilidades alimentares e tamb&eacute;m direcionado a vegetarianos &amp; veganos, gestantes, nutrizes &amp; crian&ccedil;as at&eacute; 3 anos e praticantes de diferentes modalidades esportivas.</p>
            <h3>Nutri&ccedil;&atilde;o Funcional</h3>
            <p>Nutri&ccedil;&atilde;o Funcional aplica a ci&ecirc;ncia dos nutrientes de acordo com a individualidade bioqu&iacute;mica de cada pessoa. Ela rastreia os sintomas f&iacute;sicos e cl&iacute;nicos de cada indiv&iacute;duo e os relaciona com car&ecirc;ncias e excessos. Tais desequil&iacute;brios nutricionais podem desencadear processos al&eacute;rgicos ou intoler&acirc;ncias e estimular o aparecimento de doen&ccedil;as cr&ocirc;nicas como obesidade, depress&atilde;o, fibromialgia, artrite, osteoporose, diabetes, dist&uacute;rbios de comportamento, hiperatividade infantil, desordens est&eacute;ticas e altera&ccedil;&atilde;o no desempenho f&iacute;sico.</p>
            <h3>Nutri&ccedil;&atilde;o Vegetariana e Vegana</h3>
            <h3>Nutri&ccedil;&atilde;o para Gestantes, Nutrizes e Crian&ccedil;as at&eacute; os 3 anos de idade</h3>
            <h3>Nutri&ccedil;&atilde;o Esportiva</h3>
            <h3>Fitoterapia</h3>
            <h3>Servi&ccedil;os</h3>
            <p>Em cada consulta est&aacute; inclu&iacute;do o exame de Bioimped&acirc;ncia Magn&eacute;tica usando um aparelho que mede a composi&ccedil;&atilde;o corporal atrav&eacute;s da passagem de uma corrente el&eacute;trica.<br />&Eacute; usado um aparelho de tecnologia alem&atilde;, a Bioimped&acirc;ncia Beurer100, que utiliza 8 eletrodos para medir com precis&atilde;o tanto a parte superior como inferior do corpo.<br />Em menos de 2 minutos ela faz uma an&aacute;lise detalhada do corpo com a avalia&ccedil;&atilde;o gr&aacute;fica e indica&ccedil;&atilde;o de tend&ecirc;ncia, Determina gordura corporal, &aacute;gua corporal, massa muscular e massa &oacute;ssea.<br />Al&eacute;m disso, calcula o gasto energ&eacute;tico de repouso e o gasto energ&eacute;tico total, considerando a atividade f&iacute;sica individual.</p>
            <p>O que &eacute; Fitoterapia?</p>
            <p>Fitoter&aacute;picos s&atilde;o medicamentos feitos de partes de plantas cujos princ&iacute;pios ativos n&atilde;o foram purificados, como ch&aacute;s, extratos e tinturas. Segundo a Anvisa, alguns fitoter&aacute;picos podem auxiliar no tratamento de v&aacute;rias doen&ccedil;as. O uso de fitoter&aacute;picos remonta aos tempos ancestrais e seu uso na medicina popular sempre foi bem difundido, por&eacute;m, hoje em dia, h&aacute; uma abordagem cient&iacute;fica desses medicamentos com estudos cl&iacute;nicos para verificar a efic&aacute;cia. Muitas plantas medicinais bastante populares n&atilde;o tiveram sua efic&aacute;cia comprovada e podem at&eacute; ser t&oacute;xicas.</p>
            <p>Fitoter&aacute;pico ou medicamento?</p>
            <p>Mais de um ter&ccedil;o dos medicamentos conhecidos como qu&iacute;micos ou alop&aacute;ticos (encontrados nas farm&aacute;cias), provem originalmente das plantas. A mol&eacute;cula &eacute; utilizada tanto na sua forma original, quanto pode ser modificada por um qu&iacute;mico, por exemplo, a aspirina tem sua origem na planta salgueiro e cont&eacute;m uma mol&eacute;cula de &aacute;cido acetilsalic&iacute;lico. Um qu&iacute;mico alem&atilde;o transformou quimicamente o &aacute;cido salic&iacute;lico que &eacute; um composto do Salgueiro, em &aacute;cido acetilsalic&iacute;lico, a aspirina.</p>
            <p>O Fitoter&aacute;pico &eacute; seguro?</p>
            <p>&Eacute; comum se acreditar que os fitoter&aacute;picos, por serem provenientes de plantas, n&atilde;o acarretam riscos &agrave; sa&uacute;de. No entanto, os fitoter&aacute;picos cont&ecirc;m princ&iacute;pios ativos (medicamento) e, assim, podem ter efeitos colaterais em potencial e devem ser usado sob orienta&ccedil;&atilde;o do nutricionista ou do m&eacute;dico.<br />Al&eacute;m disso, os medicamentos fitoter&aacute;picos devem ser preparados de forma correta, utilizados em doses e hor&aacute;rios definidos e a mat&eacute;ria prima (partes da planta) deve ser bem controlada e ter uma origem segura.<br /><br />Qualquer profissional de Sa&uacute;de pode prescrever fitoter&aacute;picos?</p>
            <p>Apenas profissionais da sa&uacute;de habilitados podem. No caso dos nutricionistas, APENAS aqueles que possu&iacute;rem o T&iacute;tulo de Especialista em Fitoterapia, obtido atrav&eacute;s de curso de p&oacute;s-gradua&ccedil;&atilde;o certificado pelo MEC.</p>
            <p>Nutri&ccedil;&atilde;o Funcional</p>
            <p>&Eacute;&nbsp;&eacute; a &aacute;rea da Nutri&ccedil;&atilde;o que investiga os prov&aacute;veis fatores alimentares e ambientais relacionados a uma grande variedade de dist&uacute;rbios no organismo do indiv&iacute;duo e trata-os de forma personalizada, com base na individualidade bioqu&iacute;mica. Entre os principais dist&uacute;rbios nutricionais destacam-se: obesidade, ansiedade e compuls&atilde;o alimentar, aumento das taxas de gorduras no sangue, disfun&ccedil;&otilde;es hormonais, anorexia, bulimia, altera&ccedil;&otilde;es no sono e no humor, dificuldades de aprendizagem, concentra&ccedil;&atilde;o ou memoriza&ccedil;&atilde;o, altera&ccedil;&otilde;es na libido, diabetes, artrites, c&acirc;ncer, depress&atilde;o, Alzheimer, Parkinson, entre outros. Pode ser aplicada tanto para tratamento (nutri&ccedil;&atilde;o cl&iacute;nica) como para manuten&ccedil;&atilde;o da sa&uacute;de ou pr&aacute;tica de atividade f&iacute;sica (esportiva).&nbsp;</p>
        </div>
        <div class="col">
            <img class="img-responsive" src="~/images/Manuela_Ibi_250.jpg" />
            <p>Dra. Manuela Ibi</p>
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/fitoterapicos.jpg" />
            <p>Fitoterapia</p>
            <p>&nbsp;</p>
            <img class="img-responsive" src="~/images/Material_de_apoio.jpg" />
            <p>Material de Apoio</p>
        </div>
    </div>
</div>
