
@{
    ViewData["Title"] = "Atendimento";
}

<h2>Atendimento</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="col-lg-6">
        <h1 id="servico_de_nutricao_integrada">Servi&ccedil;os de Nutri&ccedil;&atilde;o Integrada</h1>
        <h2 id="consulta_nutricional">Consulta Nutricional</h2>
        <p>Atendimento personalizado em consult&oacute;rio, onde por meio de uma avalia&ccedil;&atilde;o nutricional detalhada feita por BIOIMPED&Acirc;NCIA, &eacute; elaborado um plano alimentar de acordo com todos os objetivos, necessidades e rotina individual ou familiar. Vasta experi&ecirc;ncia no tratamento dietoter&aacute;pico em patologias como diabetes, obesidade, s&iacute;ndrome do intestino irrit&aacute;vel, sensibilidades alimentares e tamb&eacute;m direcionado a vegetarianos &amp; veganos, gestantes, nutrizes &amp; crian&ccedil;as at&eacute; 3 anos e praticantes de diferentes modalidades esportivas.</p>
        <h2 id="nutricao_funcional">Nutri&ccedil;&atilde;o Funcional</h2>
        <p>Nutri&ccedil;&atilde;o Funcional aplica a ci&ecirc;ncia dos nutrientes de acordo com a individualidade bioqu&iacute;mica de cada pessoa. Ela rastreia os sintomas f&iacute;sicos e cl&iacute;nicos de cada indiv&iacute;duo e os relaciona com car&ecirc;ncias e excessos. Tais desequil&iacute;brios nutricionais podem desencadear processos al&eacute;rgicos ou intoler&acirc;ncias e estimular o aparecimento de doen&ccedil;as cr&ocirc;nicas como obesidade, depress&atilde;o, fibromialgia, artrite, osteoporose, diabetes, dist&uacute;rbios de comportamento, hiperatividade infantil, desordens est&eacute;ticas e altera&ccedil;&atilde;o no desempenho f&iacute;sico.</p>
        <h2 id="nutricao_vegetariana_e_vegana">Nutri&ccedil;&atilde;o Vegetariana e Vegana</h2>
        <h2 id="nutricao_gestantes_criancas">Nutri&ccedil;&atilde;o para Gestantes, Nutrizes e Crian&ccedil;as at&eacute; os 3 anos de idade</h2>
        <h2 id="nutricao_esportiva">Nutri&ccedil;&atilde;o Esportiva</h2>
    </div>
</div>