
@{
    ViewData["Title"] = "Fitoterapia";
}

<h2>Fitoterapia</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="col-lg-6">
        <h1>Fitoterapia</h1>
        <h2 id="id=" o_que_e_fitoterapia"">O que &eacute; Fitoterapia?</h2>
        <p>
            Fitoter&aacute;picos s&atilde;o medicamentos feitos de partes de plantas cujos princ&iacute;pios ativos n&atilde;o foram purificados, como ch&aacute;s, extratos e tinturas.
            Segundo a Anvisa, alguns fitoter&aacute;picos podem auxiliar no tratamento de v&aacute;rias doen&ccedil;as.
            O uso de fitoter&aacute;picos remonta aos tempos ancestrais e seu uso na medicina popular sempre foi bem difundido, por&eacute;m, hoje em dia,
            h&aacute; uma abordagem cient&iacute;fica desses medicamentos com estudos cl&iacute;nicos para verificar a efic&aacute;cia.
            Muitas plantas medicinais bastante populares n&atilde;o tiveram sua efic&aacute;cia comprovada e podem at&eacute; ser t&oacute;xicas.
        </p>
        <h2 id="fitorerapicos_ou_medicamentos">Fitoter&aacute;pico ou medicamento?</h2>
        <p>
            Mais de um ter&ccedil;o dos medicamentos conhecidos como qu&iacute;micos ou alop&aacute;ticos (encontrados nas farm&aacute;cias), provem originalmente das plantas.
            A mol&eacute;cula &eacute; utilizada tanto na sua forma original, quanto pode ser modificada por um qu&iacute;mico, por exemplo, a aspirina tem sua origem na planta salgueiro
            e cont&eacute;m uma mol&eacute;cula de &aacute;cido acetilsalic&iacute;lico.
            Um qu&iacute;mico alem&atilde;o transformou quimicamente o &aacute;cido salic&iacute;lico que &eacute; um composto do Salgueiro, em &aacute;cido acetilsalic&iacute;lico, a aspirina.
        </p>
        <h2 id="fitoterapico_e_seguro">O Fitoter&aacute;pico &eacute; seguro?</h2>
        <p>
            &Eacute; comum se acreditar que os fitoter&aacute;picos, por serem provenientes de plantas, n&atilde;o acarretam riscos &agrave; sa&uacute;de.
            No entanto, os fitoter&aacute;picos cont&ecirc;m princ&iacute;pios ativos (medicamento) e, assim, podem ter efeitos colaterais em potencial e devem ser usado sob
            orienta&ccedil;&atilde;o do nutricionista ou do m&eacute;dico.<br />Al&eacute;m disso, os medicamentos fitoter&aacute;picos devem ser preparados de forma correta,
            utilizados em doses e hor&aacute;rios definidos e a mat&eacute;ria prima (partes da planta) deve ser bem controlada e ter uma origem segura.
        </p>
        <h2 id="profissional_que_prescreve_fitoterapico">Qualquer profissional de Sa&uacute;de pode prescrever fitoter&aacute;picos?</h2>
        <p>
            Apenas profissionais da sa&uacute;de habilitados podem.
            No caso dos nutricionistas, APENAS aqueles que possu&iacute;rem o T&iacute;tulo de Especialista em Fitoterapia, obtido atrav&eacute;s de curso de p&oacute;s-gradua&ccedil;&atilde;o
            certificado pelo MEC.
        </p>
        <h2 id="nutricao_funcional">Nutri&ccedil;&atilde;o Funcional</h2>
        <p>
            &Eacute;&nbsp;&eacute; a &aacute;rea da Nutri&ccedil;&atilde;o que investiga os prov&aacute;veis fatores alimentares e ambientais relacionados a uma grande variedade de
            dist&uacute;rbios no organismo do indiv&iacute;duo e trata-os de forma personalizada, com base na individualidade bioqu&iacute;mica.
            Entre os principais dist&uacute;rbios nutricionais destacam-se: obesidade, ansiedade e compuls&atilde;o alimentar, aumento das taxas de gorduras no sangue,
            disfun&ccedil;&otilde;es hormonais, anorexia, bulimia, altera&ccedil;&otilde;es no sono e no humor, dificuldades de aprendizagem, concentra&ccedil;&atilde;o ou memoriza&ccedil;&atilde;o,
            altera&ccedil;&otilde;es na libido, diabetes, artrites, c&acirc;ncer, depress&atilde;o, Alzheimer, Parkinson, entre outros.
            Pode ser aplicada tanto para tratamento (nutri&ccedil;&atilde;o cl&iacute;nica) como para manuten&ccedil;&atilde;o da sa&uacute;de ou pr&aacute;tica de atividade f&iacute;sica
            (esportiva).
        </p>
    </div>
</div>