@{
    ViewData["Title"] = "Início";
}

<partial name="../Shared/LogoView.cshtml" />

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Conheça a nossa seleção de receitas
                    <a class="btn btn-default" asp-controller="Receitas" asp-action="Mais_receitas">
                        Receitas
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Conheça detalhes de nosso atendimento
                    <a class="btn btn-default" asp-controller="Home" asp-action="Atendimento">
                        Atendimento
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Fitoterapia em maior riqueza de detalhes
                    <a class="btn btn-default" asp-controller="Home" asp-action="Fitoterapia">
                        Fitoterapia
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Receitas</h2>
        <ul>
            <li><a asp-controller="Receitas" asp-action="Coscous_couve_flor">Coscous de couve-flor</a></li>
            <li><a asp-controller="Receitas" asp-action="Escondidinho_de_frango_fit">Escondidinho de frango fit</a></li>
            <li><a asp-controller="Receitas" asp-action="Kibe_de_ervilha_partida">Kibe vegetariano de ervilha</a></li>
            <li><a asp-controller="Receitas" asp-action="Crocante_de_sementes">Crocantes de semente sem glútem</a></li>
            <li><a asp-controller="Receitas" asp-action="Tortinhas_de_limao_maracuja_e_morango">Tortinhas de limão, maracujá e morango</a></li>
            <li><a asp-controller="Receitas" asp-action="Moqueca_de_palmito_pupunha_com_banana_da_terra">Moqueca de pupunha e banana da terra</a></li>
            <li><a asp-controller="Receitas" asp-action="Crumble_low_carb_com_legumes">Crumble low carb com legumes</a></li>
            <li><a asp-controller="Receitas" asp-action="Queijo_vegano">Queijo vegano</a></li>
            <li><a asp-controller="Receitas" asp-action="Mais_receitas">Mais receitas</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Atendimento</h2>
        <ul>
            <li><a href="/Home/Atendimento#servico_de_nutricao_integrada">Serviço de Nutrição Integrada</a></li>
            <li><a href="/Home/Atendimento#consulta_nutricional">Consulta Nutricional</a></li>
            <li><a href="/Home/Atendimento#nutricao_funcional">Nutrição Funcional</a></li>
            <li><a href="/Home/Atendimento#nutricao_vegetariana_e_vegana">Nutrição Vegetariana e Vegana</a></li>
            <li><a href="/Home/Atendimento#nutricao_esportiva">Nutrição para Gestantes, Nutrizes e Crianças até os 3 anos de idade</a></li>
            <li><a href="/Home/Atendimento#nutricao_esportiva">Nutrição Esportiva</a></li>

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Fitoterapia</h2>
        <ul>
            <li><a href="/Home/Fitoterapia#o_que_e_fitoterapia">O que é Fitoterapia</a></li>
            <li><a href="/Home/Fitoterapia#fitorerapicos_ou_medicamentos">Fitoterápico ou medicamento?</a></li>
            <li><a href="/Home/Fitoterapia#fitoterapico_e_seguro">O Fitoterápico é seguro</a></li>
            <li><a href="/Home/Fitoterapia#profissional_que_prescreve_fitoterapico">Qualquer profissional de Saúde pode prescrever fitoterápicos?</a></li>
            <li><a href="/Home/Fitoterapia#nutricao_funcional">Nutrição Funcional</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Serviços</h2>
        <ul>
            <li><a href="/Home/Servicos#bioimpedancia_magnetica">Bioimpedância Magnética</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Food Detective</a></li>
        </ul>
    </div>
</div>
