@{
    ViewData["Title"] = "Política de Privacidade";
}
<h2>@ViewData["Title"]</h2>

<p>
    Informamo-os, enquanto usuário, que utilizamos cookies com o objetivo de
    oferecer uma experiência de navegação otimizada, fluida e adaptada às suas
    necessidades.<br>
    A sua privacidade é muito importante para nós. Como tal,
    elaboramos esta política para que possa conhecer como usamos os cookies.<br>
    <br>
    <strong>O que são cookies e para que servem?</strong><br>
    Os cookies são pedaços
    de informação sob a forma de texto enviados para o seu computador ou dispositivo
    móvel (telefone ou tablet) quando visita o nosso site.<br>
    Os cookies ajudam-nos a recolher
    informação sobre os seus hábitos de navegação por forma a facilitar e
    personalizar a navegação de acordo com as suas preferências, nomeadamente
    eliminando a necessidade de introduzir repetidamente as mesmas informações.<br>
    <br>
    <strong>Utilizamos os cookies de sessão</strong>: são cookies temporárias,
    pelo que não fica qualquer registo no sistema do usuário. A informação obtida
    por estas cookies serve para analisar padrões de tráfego do site e identificar
    problemas o que nos permite melhorar o conteúdo do site a navegação.
</p>
