
@{
    ViewData["Title"] = "Servicos";
}

<h2>Servicos</h2>

<partial name="../Shared/LogoView.cshtml" />

<div class="container">
    <div class="col-lg-6">
        <h1>Servi&ccedil;os</h1>
        <h2 id="bioimpedancia_magnetica">Bioimped&acirc;ncia Magn&eacute;tica</h2>
        <p>
            Em cada consulta est&aacute; inclu&iacute;do o exame de Bioimped&acirc;ncia Magn&eacute;tica usando um aparelho que mede a composi&ccedil;&atilde;o
            corporal atrav&eacute;s da passagem de uma corrente el&eacute;trica.<br />
            &Eacute; usado um aparelho de tecnologia alem&atilde;, a Bioimped&acirc;ncia Beurer100, que utiliza 8 eletrodos para medir com precis&atilde;o
            tanto a parte superior como inferior do corpo.<br />
            Em menos de 2 minutos ela faz uma an&aacute;lise detalhada do corpo com a avalia&ccedil;&atilde;o gr&aacute;fica e indica&ccedil;&atilde;o de tend&ecirc;ncia,
            Determina gordura corporal, &aacute;gua corporal, massa muscular e massa &oacute;ssea.<br />Al&eacute;m disso, calcula o gasto energ&eacute;tico de repouso e o gasto
            energ&eacute;tico total, considerando a atividade f&iacute;sica individual.
        </p>
    </div>
</div>